[Desktop Entry]
Encoding=UTF-8
Name=SDLPoP
Comment=An open-source port of Prince of Persia
Comment[es]=Una version libre del Principe de Persia
StartupNotify=false
Exec=/usr/games/prince
Icon=/usr/lib/sdlpop/data/icon.png
Terminal=false
Type=Application
Categories=Application;Game;ArcadeGame;
